.food-list-wrapper{
	flex: 1;
	height: 100%;
	overflow: scroll;
	.food-container{
		display: flex;
		padding: 10px;
		.food-image{
			width: 120px;
			height: 120px;
		}
		.message-wrapper{
			flex: 1;
			.name{
				font-size: 24px;
			}
			.desc-wrapper{
				font-size: 20px;
				color: #999;
				.num{}
				.good-rate{}
			}
			.price-wrapper{
				height: 28px;
				line-height: 28px;
				.current-price{
					font-size: 28px;
					color: #f60;
    				font-weight: 600;
				}
				.old-price{
					margin-left: 10px;
					font-size: 20px;
					color: #999;
					text-decoration:line-through;
				}
			}
		}
	}
}