.seller-detail-wrapper{
	position: relative;
	height: 1334px;
	.taro_router{
		height: 100%;
	}
	.at-tabs{
		position: absolute;
	    top: 240px;
	    bottom: 0;
	    height: auto;
	    overflow: hidden;
	}
	.at-tabs__body{
		position: absolute;
	    top: 92px;
	    bottom: 0;
	}
	.tab-wrapper{
		.at-tabs-pane{
			height: 100%;
			overflow: hidden;
		}
		.food-wrapper{
			height: 100%;
			display: flex;
			overflow: hidden;
		.menu-list{
			width: 180px;
		}
		.food-list{
			flex: 1;
		}
	}
	}
	
}